services:
  mysql:
    image: mysql:8.4
    container_name: mysql-money-manager
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DB_NAME}
      MYSQL_USER: ${MYSQL_DB_USERNAME}
      MYSQL_PASSWORD: ${MYSQL_DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-money_manager
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USERNAME}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    ports:
      - "5672:5672"
      - "15672:15672"

  core-service:
    build: ./money-manager-core-service
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - mysql
      - rabbitmq


  email-service:
    build: ./email-service
    env_file:
      - .env
    ports:
      - "8081:8081"
    depends_on:
      - mysql
      - rabbitmq


volumes:
  mysql_data:
